<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="//d3js.org/topojson.v1.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap.min-2.css">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <title>Coffee Ratings</title>
</head>
<body>
    <div class="navigation">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">Coffee</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="data.html">Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="overview.html">Visualizations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About Us</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">   
        <div class="row" style="margin-top: 20px;">
            <div class="card text-white bg-dark mb-3" style="max-width: 20rem; margin-right: auto;">
                <div class="card-body">
                    <h4 class="card-title">Coffee</h4>
                    <p class="card-text">
                    </p>
                </div>
            </div>
            <div class="card text-white bg-info mb-3" style="max-width: 20rem; margin-right: auto;">
                <div class="card-body">
                    <h4 class="card-title">Federal Minimum Wage</h4>
                    <p class="card-text">
                    </p>
                </div>
            </div>
            <div class="card text-white bg-warning mb-3" style="max-width: 20rem; margin-right: auto;">
                <div class="card-body">
                    <h4 class="card-title">Living Wage</h4>
                    <p class="card-text">A living wage is defined as the minimum income necessary for a worker to meet their basic needs. The goal of a living wage is to allow a worker to afford a basic but 
                            decent standard of living through employment without government subsidies. Due to the flexible nature of the term "needs", there is not one universally accepted measure 
                            of what a living wage is and as such it varies by location and household type. The living wage differs from the minimum wage in that the latter can fail to meet the requirements 
                            for a basic quality of life which leaves the worker to rely on government programs for additional income. The living wage is similar to the minimum wage as it is a price floor 
                            for labor. It thus differs from the national minimum wage in that it is not set according to a legal threshold.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <select id="selState">
                    <option></option>
                </select>
                <div id="line"></div>
                <script src="/static/chart.js"></script>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label for="selYear" class="col-form-label">
                      CHOOSE YEAR
                </label>
                <select id="selYear">
                    <option></option>
                </select>                
                <div>
                    <canvas id="myBarChart" width="400" height="400"></canvas>
                </div>
                <script src="/static/bubblechart.js"></script>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-4 searchContainer">
                <body>
                    <script defer type="text/javascript" src="/static/choropleth.js"></script>
                </body>
                <div class="category">
                    <label for="familysize" class="col-form-label">
                      CHOOSE FAMILY SIZE
                    </label>
                    <select class="form-control" id="familysize">
                        <option value="OneAdultZeroKids" selected>One Adult Zero Kids</option>
                        <option value="OneAdultOneKid">One Adult One Kid</option>
                        <option value="OneAdultTwoKids">One Adult Two Kids</option>
                        <option value="OneAdultThreeKids">One Adult Three Kids</option>
                        <option value="TwoAdultsZeroKids">Two Adults Zero Kids</option>
                        <option value="TwoAdultsOneKid">Two Adults One Kid</option>
                        <option value="TwoAdultsTwoKids">Two Adults Two Kids</option>
                        <option value="TwoAdultsThreeKids">Two Adults Three Kids</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12" id="hex">
                <div class="scale" id="scale"></div>
            </div>
        </div>
    </div>
</body>
</html>